*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#root{
    width: 100%;
    
}

html{
    background-color: #706464;
    color: rgb(250,245,245);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
body {
    background-image: url('https://i.pinimg.com/1200x/7d/98/84/7d98840fdff1b2e7cd508cc7f3a17403.jpg');
    background-position: center;
    background-size: cover;
}