main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    height: fit-content;
    min-width:400px ;
    display: flex;
    flex-direction: column;

}

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form input{
    border: none;
    outline: none;
    padding-inline:1.5rem ;
    padding-block:1rem ;
    border-radius: 1rem;
}

.form button{
    background-color: rgb(170, 42, 42);
    border: none;
    outline: none;
    padding-inline:1.5rem ;
    padding-block:1rem ;
    border-radius: 1rem;
    color: whitesmoke;
    cursor: pointer;
}

.toggleAuthForm{
    color: azure;
    cursor: pointer;
    text-decoration: none;
}