main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    height: fit-content;
    min-width:400px ;
    display: flex;
    flex-direction: column;
    text-align: center;

    
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border:1px solid white;
    padding-inline:2.5rem ;
    padding-block:2rem ;
    border-radius: 20px;
    backdrop-filter: blur(8px) saturate(200%);
    -webkit-backdrop-filter: blur(8px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    background: rgba(255, 255, 255, 0.4);
}

.form input{
    border: none;
    outline: none;
    padding-inline:1.5rem ;
    padding-block:1rem ;
    border-radius: 1rem;
}

.form button{
    background-color: rgb(170, 42, 42);
    border: none;
    outline: none;
    padding-inline:1.5rem ;
    padding-block:1rem ;
    border-radius: 1rem;
    color: whitesmoke;
    cursor: pointer;
}


.toggleAuthForm{
    color: rgb(170, 197, 197);
    cursor: pointer;
    text-decoration: none;
}